<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>adminid</param-name>
        <param-value>dotpoint</param-value>
    </context-param>
    <context-param>
        <param-name>adminpass</param-name>
        <param-value>dotpoint@123</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>misc.ConnectList</listener-class>
    </listener>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>eshop.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>eshop.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>eshop.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCart</servlet-name>
        <servlet-class>eshop.EditCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMarked</servlet-name>
        <servlet-class>eshop.RemoveMarked</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUser</servlet-name>
        <servlet-class>eshop.DisplayUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCart</servlet-name>
        <url-pattern>/EditCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMarked</servlet-name>
        <url-pattern>/RemoveMarked</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUser</servlet-name>
        <url-pattern>/DisplayUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
